@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
}
*::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
*::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

body {
  background-color: #393e46;
  color: #eeeeee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

.sosmed {
  @apply grid w-12 rounded-full aspect-square bg-brand-yellow place-items-center;
}

.sosmed:hover {
  @apply bg-brand-white;
}

.sosmed-icon {
  @apply text-xl text-black aspect-square;
}
